*,
*::before,
*::after {
  box-sizing: border-box;
}
.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  /* margin: 0 auto; */
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: rgb(255, 255, 255);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  box-shadow: 0px 0px 20px 10px #0073e6;
}

.containers {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
  height: fit-content;
}

.containers.left {
  left: 0;
  height: fit-content;
}

.containers.right {
  left: 50%;
  height: fit-content;
}

.containers::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 16px;
  z-index: 1;
}

.containers.right::after {
  left: -8px;
}

.containers::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #fdfdfd;
  z-index: 1;
}

.containers.right::before {
  left: 8px;
}

.containers .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.containers.left .date {
  right: -75px;
}

.containers.right .date {
  left: -75px;
}

.containers .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #ffffff;
  border: 2px solid #0084ff;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #0084ff;
  z-index: 1;
}

.containers.left .icon {
  right: 56px;
}

.containers.right .icon {
  left: 56px;
}

.containers .content {
  padding: 30px 90px 30px 30px;
  background-image: radial-gradient(circle, rgb(74, 171, 255) 0%, #004e9c 100%);
  position: relative;
  border-radius: 0 500px 500px 0;
  
}

.containers.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
  height: fit-content;
}

.containers .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.containers .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 0px;
  }

  .containers {
    width: 400px;
    padding-left: 20px;
    padding-right: 30px;
    height: max-content;
    height: fit-content;
  }
  .the {
    display: none;
  }
  .and {
    display: none;
  }

  .containers.right {
    left: 0%;
    height: fit-content;
  }

  .containers.left::after,
  .containers.right::after {
    left: 82px;
  }

  .containers.left::before,
  .containers.right::before {
    left: 100px;
  }

  .containers.left .date,
  .containers.right .date {
    right: auto;
    left: 15px;
  }

  .containers.left .icon,
  .containers.right .icon {
    right: auto;
    left: 146px;
  }

  .containers.left .content,
  .containers.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
    height: fit-content;
  }
}
.the {
  border-radius: 50%;
  float: right;
}
.content {
  height: 200px;
  width: fit-content;
}
.and {
  border-radius: 50%;
}
.carousel {
  align-items: center;
}
@media screen and (max-width: 400px) {
  .and {
    display: none;
  }
  .the {
    display: none;
  }
  .body {
    margin-left: 0%;
    margin-right: 0%;
  }
}
